


.fleets-div{
	background:#FFF;
	width:30%;
	margin:20px .4%;
	display:inline-block;
	vertical-align:top;
	border:rgba(204,204,204,.4) 1px solid;
	cursor:pointer;
	border-radius:5px;
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
}
.fleets-div .status-div{
	position:absolute;
	padding:5px 10px;
	margin:20px;
	height:20px;
	color:#FFF;
	line-height:20px;
	font-size:9px;
	font-weight: bold;
	font-family:Tahoma, Geneva, sans-serif;
	background:#F1C40F;
	border-radius:5px;
}
.fleets-div .img-div{
	width:100%;
	height:120px;
	border-radius:5px;
	overflow:hidden;
}
.fleets-div .img-div img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.fleets-div .text-div{
	padding:10px 10px 0px 10px;
	text-align:left;
	font-size:11px;
}

.fleets-div .text-div  h2{
	padding:0px;
	margin:0px;
	font-size:15px;
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
}
.fleets-div:hover .text-div  h2{
	color:#2DAAE1;
}
.fleets-div:hover{
		-moz-transform:scale(1.02) translate(1px,0px);
		-webkit-transform:scale(1.02) translate(1px,0px);
	box-shadow:0px 0px 10px 1px rgba(0,0,0,.2);
}

.fleets-div .btn-div{
	padding:5px;
	background:#F2F2F2;
}
.fleets-div .btn-div .btn, .fleets-div .btn-div .btn_{
	float:left;
	height:25px;
	padding:0px 7px;
	background:#CCC;
	border:none;
	margin-right:1px;
	color:#444;
	font-size:10px;
	cursor:pointer;
    font-family: body-font;
-moz-transition:all 0.2s ease-in 0.2s;
transition:all 0.2s ease-in 0.2s;
-webkit-transition:all 0.2s ease-in 0.2s;
-ms-transition:all 0.2s ease-in 0.2s;
-o-transition:all 0.2s ease-in 0.2s;
}
.fleets-div .btn-div .btn:hover, .fleets-div .btn-div .btn_:hover{
	opacity:.7;
}
.fleets-div .btn-div .active-btn{
	background:#002F45;
	color:#FFF;
}

.fleets-div .btn-div .red{
	background:#F00;
	color:#FFF;
}


.fleets-div .text-div .vote-div{
	height:20px;
}
.fleets-div .text-div .vote-div .text{
	height:20px;
	padding:0px 5px;
	float:left;
	border-right:#444 1px solid;
}
.fleets-div .text-div .vote-div .no-border{
	border-right:none;
}
.fleets-div .text-div .vote-div .text span{
	color:#2DAAE1;
}













































